@page "/menu"
@using MatBlazor
<h1 class="nasze_menu">Nasze Menu:</h1>

@* Lista Pizz *@
<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Pizza</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Pizza neapolitańska, robiona tradycyjną metodą.
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList SingleSelection="true" TwoLine="true">
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>MARGARITA </MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, świeża bazylia</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>Z SZYNKĄ</MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, świeża bazylia, szynka</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>DIABELSKA</MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, chilli</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>SUPER PIZZA</MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, chilli</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>SUPER PIZZA2</MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, chilli</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>SUPER PIZZA3</MatListItemPrimaryText>
                        <MatListItemSecondaryText>pomidory, mozzarella, chilli</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>




            </MatList>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

</MatAccordion>

@* Lista Makaronów *@
<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Makarony</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Za dopłatą oferujemy również makaron bezglutenowy
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList SingleSelection="true" TwoLine="true">
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>PENNE ALL'ARRABBIATA</MatListItemPrimaryText>
                        <MatListItemSecondaryText>makaron, pomidory, czosnek, chilli, pietruszka, parmezan</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>PENNE AL'SALOMONE</MatListItemPrimaryText>
                        <MatListItemSecondaryText>makaron, łosoś wędzony, śmietanka, pietruszka</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>SPAGHETTI ALLA CARBONARA</MatListItemPrimaryText>
                        <MatListItemSecondaryText>makaron, jajka, boczek, pieprz, pecorino romano</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

            </MatList>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

</MatAccordion>

@* Lista Deserów *@
<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Desery</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Smaczne i zdrowe!
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList SingleSelection="true" TwoLine="true">
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>TIRAMISU</MatListItemPrimaryText>
                        <MatListItemSecondaryText>klasyczny włoski deser na bazie biszkoptów</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>PANNA COTTA</MatListItemPrimaryText>
                        <MatListItemSecondaryText>śmietankowo-waniliowy deser z karmelem</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>GELATO AFFOGATO</MatListItemPrimaryText>
                        <MatListItemSecondaryText>kulki lodów waniliowych zatopionych w espresso</MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>

            </MatList>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

</MatAccordion>



