@page "/reservation"

@inject RestaurantWebServer.Data.IDataAccess _db

<h3>NewRezervation</h3>

<EditForm Model="@newReservation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="exampleFormControlSelect1">Stolik: </label>
        <InputSelect class="form-control" @bind-Value="newReservation.TableID">
            @foreach (var table in tables)
            {
                <option value="@table.TableID">Stolik nr @table.TableID, Liczba miejsc: @table.NumberOfChairs</option>
            }
        </InputSelect>0
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Imię</label>
            <InputText class="form-control" @bind-Value="newReservation.FirstName" />
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nazwisko</label>
            <InputText class="form-control" @bind-Value="newReservation.LastName" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <InputText class="form-control" @bind-Value="newReservation.Email" />
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Numer telefonu</label>
            <InputText class="form-control" @bind-Value="newReservation.PhoneNumber" />
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Data rezerwacji</label>
        <InputSelect class="form-control" @bind-Value="tempDate">
            <option>test1</option>
            <option>test2</option>
            <option>test3</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Godzina rezerwacji</label>
        <InputSelect class="form-control" @bind-Value="tempHour">
            <option>12:00</option>
            <option>13:00</option>
            <option>14:00</option>

        </InputSelect>
    </div>
    <div class="form-group">
        <label>Długość rezerwacji</label>
        <select class="form-control" asp-for="Reservation.ReservationLength">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>


</EditForm>


@code {

    Models.Reservation newReservation = new Models.Reservation();
    List<Models.Table> tables = new List<Models.Table>();
    private string tempDate;
    private string tempHour;

    

    protected override void OnInitialized()
    {
        tables = _db.GetAllTable();
    }

    private void HandleValidSubmit()
    {

    }


}
